<input type="file" name="files[]" style="display: none" class="input-upload-file">
<div class="profile-avatar">
	<img height="80" style="margin:0px auto;display:block;cursor: pointer;" src='images/default_photo.png' class="input-image">
</div>
