
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Doação
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formDoacao">
							<input type="hidden" id="inputId" value="{{id}}">
							<h4 class="header smaller blue">Informações da Doação</h4>

							<div class="row">
								<div id="groupInputTitulo" class="form-group col-sm-5	col-md-5 col-lg-5">
									<label class="control-label" for="inputTitulo">Título *</label>
									<input type="text" id="inputTitulo" value="{{titulo}}" class="form-control validate[required]" maxlength="200">
								</div>
							</div>

							<div class="row">
								<div id="groupInputTipo" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputTipo">Tipo *</label>
									<select type="text" id="inputTipo" value="{{tipo}}" class="form-control validate[required]" maxlength="20">
										<option value="">-- Selecione --</option>
										<option value='Doando' 	{{ tipo != null && tipo == "Doando" ? 	'selected' :''}}>Doando	</option>
										<option value='Buscando' {{ tipo != null && tipo == "Buscando" ? 	'selected' :''}}>Buscando</option>
									</select>
								</div>

								<div id="groupInputCategoria" class="form-group col-sm-3	col-md-3col-lg-3  ">
									<label class="control-label" for="inputCategoria">Categoria *</label>
									<select type="text" id="inputCategoria" value="{{categoria}}" class="form-control validate[required]" maxlength="20">
										<option value="">-- Selecione --</option>
										<option value='1' {{ categoria != null && categoria == "1" ? 'selected' :''}}>1 - Animais e acessórios	</option>
										<option value='2' {{ categoria != null && categoria == "2" ? 'selected' :''}}>2 - Artigos infantis		</option>
										<option value='3' {{ categoria != null && categoria == "3" ? 'selected' :''}}>3 - Música e hobbies		</option>
										<option value='4' {{ categoria != null && categoria == "4" ? 'selected' :''}}>4 - Moda e beleza			</option>
										<option value='5' {{ categoria != null && categoria == "5" ? 'selected' :''}}>5 - Para a sua casa			</option>
										<option value='6' {{ categoria != null && categoria == "6" ? 'selected' :''}}>6 - Esportes e lazer		</option>
										<option value='7' {{ categoria != null && categoria == "7" ? 'selected' :''}}>7 - Eletrônicos e celulares	</option>
										<option value='8' {{ categoria != null && categoria == "8" ? 'selected' :''}}>8 - Trabalhos sociais		</option>
										<option value='9' {{ categoria != null && categoria == "9" ? 'selected' :''}}>9 - Outros					</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div id="groupInputDescricao" class="form-group col-sm-5	col-md-5 col-lg-5">
									<label class="control-label" for="inputDescricao">Descrição *</label>
									<textarea id="inputDescricao" class="form-control validate[required]" rows="8" maxlength="1000">{{descricao}}</textarea>
								</div>
							</div>

							<h4 class="header smaller blue">Fotos</h4>
							<div class="row">
								<div id="groupInputImg1" class="form-group col-sm-2	col-md-3	col-lg-2">
									<label class="control-label" for="inputImg1"></label>
									<span class="img1"> </span>
									<input type="text" id="inputImg1" value="{{img1}}" class="form-control" maxlength="100" style="display: none">
								</div>
								<div id="groupInputImg2" class="form-group col-sm-2	col-md-3	col-lg-2">
									<label class="control-label" for="inputImg2"></label>
									<span class="img2"> </span>
									<input type="text" id="inputImg2" value="{{img2}}" class="form-control" maxlength="100" style="display: none">
								</div>
								<div id="groupInputImg3" class="form-group col-sm-2	col-md-3	col-lg-2">
									<label class="control-label" for="inputImg3"></label>
									<span class="img3"> </span>
									<input type="text" id="inputImg3" value="{{img3}}" class="form-control" maxlength="100" style="display: none">
								</div>
								<div id="groupInputImg4" class="form-group col-sm-2	col-md-3	col-lg-2">
									<label class="control-label" for="inputImg4"></label>
									<span class="img4"> </span>
									<input type="text" id="inputImg4" value="{{img4}}" class="form-control" maxlength="100" style="display: none">
								</div>
							</div>

							<h4 class="header smaller blue">Contato</h4>
							<div class="row">
								<div id="groupInputNome" class="form-group col-sm-5	col-md-5 col-lg-5">
									<label class="control-label" for="inputNome">Nome *</label>
									<input type="text" id="inputNome" value="{{nome}}" class="form-control validate[required]" maxlength="200">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-4 col-md-4 col-lg-4">
									<label for="inputTelefone">Telefone *</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputTelefone" placeholder="" value="{{telefone}}" class="form-control validate[required]  " maxlength="15">
									</div>
								</div>
							</div>
							<div class="row">
								<div id="groupInputEmail" class="form-group col-sm-4 col-md-4 col-lg-4">
									<label class="control-label" for="inputEmail">E-mail</label>
									<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control  validate[custom[email]] " maxlength="100">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-8">
									<label>Endereço* (com Número)</label>
									<input type="text" class="inputEnderecoCombo form-control" value="{{referenciaEndereco}}">
								</div>
							</div>
							<div style="display: none;">
								<h4 class="header smaller blue">------ Testes no Preenchimento do Endereço ------</h4>
								<div class="row">
									<div id="groupInputEndereco" class="form-group col-sm-3	col-md-3	col-lg-3  ">
										<label class="control-label" for="inputEndereco">Logradouro *</label>
										<input type="text" id="inputEndereco" readOnly="true" value="{{endereco}}" class="form-control" maxlength="200">
									</div>
									<div id="groupInputNumeroEndereco" class="form-group col-sm-2 col-md-2 col-lg-2">
										<label class="control-label" for="inputNumeroEndereco">Número *</label>
										<input type="text" id="inputNumeroEndereco" readOnly="true" value="{{numeroEndereco}}" class="form-control" maxlength="10">
									</div>
									<div id="groupInputCep" class="form-group col-sm-2	col-md-2	col-lg-2  ">
										<label class="control-label" for="inputCep">Cep *</label>
										<input type="text" id="inputCep" readOnly="true" value="{{cep}}" class="form-control" maxlength="10">
									</div>
								</div>
								<div class="row">
									<div id="groupInputBairro" class="form-group col-sm-3	col-md-3	col-lg-3  ">
										<label class="control-label" for="inputBairro">Bairro *</label>
										<input type="text" id="inputBairro" readOnly="true" value="{{bairro}}" class="form-control" maxlength="100">
									</div>
									<div id="groupInputCidade" class="form-group col-sm-3	col-md-3	col-lg-3  ">
										<label class="control-label" for="inputCidade">Cidade *</label>
										<input type="text" id="inputCidade" readOnly="true" value="{{cidade}}" class="form-control" maxlength="50">
									</div>
									<div id="groupInputUf" class="form-group col-sm-2	col-md-2	col-lg-2  ">
										<label class="control-label" for="inputUf">UF *</label>
										<input type="text" id="inputUf" readOnly="true" value="{{uf}}" class="form-control" maxlength="2">
									</div>
									<div id="groupInputReferenciaEndereco" class="form-group col-sm-3	col-md-3	col-lg-3  ">
										<label class="control-label" for="inputReferenciaEndereco">Referência *</label>
										<input type="text" id="inputReferenciaEndereco" readOnly="true" value="{{referenciaEndereco}}" class="form-control" maxlength="200">
									</div>
								</div>
							</div>
							<div class="row" >
								<div id="groupInputLatitude" class="form-group col-sm-2	col-md-2col-lg-2  ">
									<label class="control-label" for="inputLatitude">Latitude *</label>
									<input type="text" id="inputLatitude" readOnly="true" value="{{latitude}}" class="form-control validate[required]" maxlength="100">
								</div>
								<div id="groupInputLongitude" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputLongitude">Longitude *</label>
									<input type="text" id="inputLongitude" readOnly="true" value="{{longitude}}" class="form-control validate[required]" maxlength="50">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Publicar
					</a>
					<!-- <a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a> -->
					<a class="go-back-link btn btn-light" href="#">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar
					</a>
				</div>
			</div>
		</div>
	</div>
