<div id="messages_div"></div>

<div class="wrapper">
	<nav id="sidebar">
		<div class="sidebar-header" onclick="toggleSideBar()">
			<h3><img src="images/logo.png" alt="Smiley face" height="42" width="42">  Projeto E2</h3>
			<strong><img src="images/logo.png" alt="Smiley face" height="42" width="42"></strong>
		</div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="#app/newDoacao">
                    <i class="glyphicon glyphicon-gift"></i>
                    Doe
                </a>
                <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-list"></i>
                    Doações
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul> -->
            </li>
            <li>
                <a id="sobre" href="javascript:void(0)">
                    <i class="fa fa-user-secret"></i>
                    Sobre
                </a>
            </li>
            <li>
                <a id="contato" href="javascript:void(0)">
                    <i class="glyphicon glyphicon-send"></i>
                    Contato
                </a>
            </li>
        </ul>
	</nav>

	<div id="map" style="width: 100%; height: -webkit-fill-available; position: fixed;"></div>
</div>

<div id='modalSobre'></div>
<div id='modalContato'></div>

<script type="text/javascript">
	this.sidebar = document.getElementById("sidebar");
			
	function toggleSideBar() {
		this.sidebar.classList.toggle('active');
	}

	toggleSideBar();			
</script>	
