
<div class="modal fade" id="dialogContato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h3><img src="images/logo.png" alt="Smiley face" height="42" width="42">  Projeto E2</h3>
			</div>
			<div class="modal-body">
				<div id="message_div"></div>

				<section id="entry-content" class="clearfix">
					<p><h4><img src="images/phone.png" alt="Smiley face" height="42" width="42">  +55 (85) 4004-5005</h4></p>
					<p><h4><img src="images/mail.png" alt="Smiley face" height="42" width="42">  contato@projetoe2.org.br</h4></p>
				</section> 
			</div>
		</div>
	</div>
</div>
