
<div class="modal fade" id="dialogSobre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h3><img src="images/logo.png" alt="Smiley face" height="42" width="42">  Projeto E2</h3>
			</div>
			<div class="modal-body">
				<div id="message_div"></div>

				<section id="entry-content" class="clearfix">
					<p>O PROJETO E2 é um mapa colaborativo de visualização de entidades e pessoas que precisam de ajuda. A ideia é facilitar o encontro entre quem precisa de ajuda e quem pode ajudar, baseado na geolocalização.</p>
					<p>Inicialmente,o projeto irá trabalhar com doações de objetos e também a oferta de trabalhos voluntários. O sistema permite não só consultar, como também cadastrar pedidos de ajuda.</p>
					<p>Apesar da interface simples, o sistema estará sendo aprimorado e deverá ganhar uma versão móvel. Portanto, o projeto está em fase beta.</p>
					<p>Desenvolvido pelos estudantes <b><i>Edilson Leitão</i></b> e <b><i>Gustavo A. Vieira</i></b> para a disciplina <b><i>Estágio Supervisionado II</i></b>, do curso de <b><i>Sistemas de Informação</i></b> do <b><i>Centro Universitário 7 de Setembro (UNI7)</i></b> durante o semestre  <b><i>2017.2</i></b></p>
				</section> 
			</div>
		</div>
	</div>
</div>
